#### INSTITUTO DO EMPREGO E FORMAÇÃO PROFISSIONAL, I. P.
#### DELEGAÇÃO REGIONAL DO NORTE
#### CENTRO DE EMPREGO E FORMAÇÃO PROFISSIONAL DE BRAGA

## EFA Tecnológico – Programador/a de Informática
### Turma: 01/22
### Data : 02-03-2023
### UFCD : 10793 – Fundamentos de Python

# Nome:

In [ ]:
print('Silvano Oliveira')

# Nº

In [ ]:
print('16')

<center><h1> Enunciado </h1></center>

<h3>1. Escreva um programa que dado um número até 10, imprima de 3 em 3 até 30.(2 ponto)</h3>

<code>Resultado exemplo:
3
6
9
12
15
18
21
24
27
30</code>

In [ ]:
numero = int(input('Introduza um numero: '))

while numero <= 30:
    print(numero)
    numero += 3

<h3>2. Escreva um programa que dado um numero mostre a tabuada desse numero.(2 ponto)</h3>
<code>
Resultado exemplo:
Tabuada do: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90</code>

In [ ]:
numero = int(input('Introduza um numero: '))

print('Tabuada do:', numero)

for i in range(1,11):
    resultado = numero * i
    print(f'{numero} x {i} = {resultado}')

<h3>3. Dada duas listas, transforme-as em uma só uma lista.(4 pontos)</h3>
<code>primeira = ['Alunos', 'turma', 'pi0121']
segunda = ['teste', 'programacao', 'python'] 
</code>
<code>
Os resultados obtidos devem ser iguais à:
0: Alunos     
1: turma      
2: pi0121     
3: teste      
4: programacao
5: python     
['Alunos', 'turma', 'pi0121', 'teste', 'programacao', 'python']
</code>

In [74]:
primeira = ['Alunos', 'turma', 'pi0121']
segunda = ['teste', 'programacao', 'python']

juncao = primeira + segunda

i = 0
for elemento in juncao:
    print(f'{i}: {elemento}')
    i += 1

print(juncao)

0: Alunos
1: turma
2: pi0121
3: teste
4: programacao
5: python
['Alunos', 'turma', 'pi0121', 'teste', 'programacao', 'python']

<h3>4. Utilizando a seguinte lista de tuplas:(4 pontos)</h3>
<code>data = [('Pedro', 18, 7),
        ('Ricardo', 15, 6),
        ('Joana', 17, 8),
        ('Miguel', 18, 7),
        ('Rita', 17, 5) ]</code>
<h3>Crie um Dataframe com a seguinte saída:</h3>
<code>
      Nome  Idade  Pontuação
0    Pedro     18          7
1  Ricardo     15          6
2    Joana     17          8
3   Miguel     18          7
4     Rita     17          5
</code>

In [ ]:
import pandas as pd

data = [('Pedro', 18, 7),
        ('Ricardo', 15, 6),
        ('Joana', 17, 8),
        ('Miguel', 18, 7),
        ('Rita', 17, 5) ]

data_df = pd.DataFrame(data)
data_df.columns = ['Nome', 'Idade', 'Pontuação']
print(data_df)

<h3>5. Utilizando o ficheiro cafe.xlsx, altere os preços dos serviços para:(4 pontos)</h3>
<code>
balcão = 0,5
Mesa = 1
Esplanada = 1,5
</code>
<code>
Resultado
          Produtos  Preço Base       Tipo  Serviço   Iva  Preço Final
0             Café         1.0       Mesa      1.0  1.23        2.460
1            Leite         1.2       Mesa      1.0  1.23        2.706
2          Cerveja         1.5  Esplanada      1.5  1.23        3.690
3     Refrigerante         1.5  Esplanada      1.5  1.23        3.690
4             Nata         0.9       Mesa      1.0  1.23        2.337
5     Sumo natural         2.5       Mesa      1.0  1.23        4.305
6            Tosta         2.5       Mesa      1.0  1.23        4.305
7  Sande Americana         4.5  Esplanada      1.5  1.23        7.380
8           Compal         1.6       Mesa      1.0  1.23        3.198
9             Café         1.0     Balcão      0.5  1.23        1.845
</code>

In [ ]:
cafe_df = pd.read_excel('Cafe.xlsx')
cafe_df.loc[cafe_df['Tipo'] == 'Balcão', 'Serviço'] = 0.5
cafe_df.loc[cafe_df['Tipo'] == 'Mesa', 'Serviço'] = 1
cafe_df.loc[cafe_df['Tipo'] == 'Esplanada', 'Serviço'] = 1.5
cafe_df['Preço Final'] = (cafe_df['Preço Base'] + cafe_df['Serviço']) * cafe_df['Iva']
print(cafe_df)

<h3>6. Calcule o resultado da soma total do Preço Final.(2 ponto)</h3>
<code>
Resultado
Preço Final    35.916
dtype: float64
</code>

In [62]:
resultado = cafe_df['Preço Final'].sum()

print('Preço Final', resultado)
print(type(resultado))

Preço Final 35.916
<class 'numpy.float64'>

<h3>7. Calcule a soma Total do Balcão, Esplanada e Mesa.(2 ponto)</h3>
<code>
Resultado
           Preço Final
Tipo
Balcão           1.845
Esplanada       14.760
Mesa            19.311
</code>

In [99]:
quantidade = cafe_df[['Tipo', 'Preço Final']].groupby('Tipo').sum()
print(quantidade)

           Preço Final
Tipo
Balcão           1.845
Esplanada       14.760
Mesa            19.311